.mainExplorerContainer {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    width: 80%;
    margin-inline: auto;
    padding-top: 12%;
}

.fruitExplorerContainer {
    display:flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-color: #fefefe;
    margin-inline: auto;
    border-radius: 1rem;
    margin-bottom: 5rem;
    background-color: #FAF3E6;
    padding-inline: 1rem;
}

.fruitExplorerContainerBot {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    scroll-behavior: smooth;
}

.fruitExplorerContainerTop{
    display: flex;
    padding: 1rem;
}

.fruitExplorerContainerTop img{
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

.albumCard{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-inline: 0.6rem;
    width: 10rem;
    height: 15rem;
    margin: 0.5rem;
}

a {
    text-decoration: none !important;

}

.albumTitle {
    color: black;
}

.fruitExplorerContainerBotButtons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slideButton {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    translate: 0 -30px;
    cursor: pointer;

}

.slideButton:hover {
    color: gray;
}

.albumThumb {
    height: 150px;
    width: 150px;

    box-shadow: 0 1px 5px #00000099;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}

.albumThumb {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
    image-rendering: optimizeSpeed;
}

.fruitImage{
    height: 48px;
    width: auto;
}

body {
    perspective: 1500px;
}