.container {
    padding-top:1px;
}

.albums-wrapper{
    width:100%;
}

.albumCard{
    position: relative;
    background-color: rgba(252, 186, 3, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
}

.albumThumb{
    margin-inline: auto;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.btn {
    color:black;
    bottom: 0;
    position: absolute;
    padding-bottom: 0.2rem;
    cursor: pointer;
}