.AlbumContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: fit-content;
    margin-inline: auto;
    position: relative;
    transform: translateY(7rem);
    border: 2px solid white;
    border-radius: 2rem;
    background-color: rgba(252, 186, 3, 0.3);
    max-height: 600px;
}

.AlbumContainerTop {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
}

.albumThumbnail {
    margin-top: 1rem;
    margin-inline: auto;
    height: 250px;
    width: auto;
}

a.btn.btn-primary {
    text-align: center;
}

.AlbumContainerBot {
    text-align: center;
    overflow-y: scroll;
    font-weight: 700;
    max-height: 20rem;
}

#likeBtn {
    padding: 0.2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 2px white solid;
    margin-top: 1rem;
    width: fit-content;
    padding-inline: 2rem;
    margin-inline: auto;
    font-weight: 700;
}

#likeBtn:hover {
    background-color: white;
    transition: ease-in-out;
    transition-duration: 0.2s;
    cursor: pointer;
}

.discogsLink {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.AlbumContainerBot::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.AlbumContainerBot::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.AlbumContainerBot::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}