.AlbumContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-top: 5rem;
    width: fit-content;
    margin-inline: auto;
}

.AlbumContainerTop {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
}

.albumThumbnail {
    margin-top: 1rem;
    margin-inline: auto;
    height: 250px;
    width: auto;
}

a.btn.btn-primary {
    text-align: center;
}

.AlbumContainerBot {
    text-align: center;
}

#likeBtn {
    padding: 0.5rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
    border: 2px white solid;
    color: black;
    font-size: 18px;
    transition: ease-in-out;
    transition-duration: 0.2s;
    margin-top: 1rem;
}

#likeBtn:hover {
    background-color: pink;
    transition: ease-in-out;
    transition-duration: 0.2s;
}