@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@font-face {
    font-family: "FoundersGrotesk";
    src: url("../fonts/FoundersGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;

    font-family: Roboto, serif;
    font-weight: 500;
    background-color: #ffe9a1;
    height: 100vh;
}


.navbar {
    position: fixed;
    z-index: 1001;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1111;
    margin: 0 auto;
    width: 90%;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1rem;
    background-color: #FAF3E6;
    border-radius: 0 0 .8rem .8rem;
    border-style: solid;
    border-width: 1px;
    border-color: #e1dbd0;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.navbar.hide {
    transform: translateY(-100%);
}

.no-navbar-menu {
    position: fixed;
    right: 0;
    margin: 15px 10px;
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #154726;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1dbd0;
    box-sizing: border-box;
    color: white;
}

.no-navbar-menu p {
    padding-left: 5px;
}

.btn  {
    font-family: FoundersGrotesk, serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.btn {
    height: 4rem;
    font-size: 1.5rem !important;
}

.link-main {
    position: relative;
    display: block;
    width: fit-content;
    text-decoration: none !important;
    cursor: pointer;
    font-weight: 500;
    font-size: .9rem;
    line-height: .85;
    letter-spacing: normal;
    padding: 0 1rem;
    color: #154726;

}

.navbar-left {
    display: flex;
}

.navbar-left button {
    margin-right: 10px;
}

.navbar-center {
    display: flex;
    align-items: center;
}

.navbar .navbar-center img {
    transition: transform 2s ease;
    scale: 2.6;
    margin: 0 5vh;
}

.navbar .navbar-center span {
    font-size: x-large;
}


.navbar:hover .navbar-center img {
    animation: rotateLogo 2s linear infinite forwards;
}

@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.navbar-search-input {
    padding: 5px 10px;
    border: 1px solid #c3beb5;
    border-radius: 20px;
    background-color: transparent;
}

.navbar-search-input:focus-visible {
    outline-offset: unset;
    outline: unset;
}

.navbar-right {
    display: flex;
}

.navbar-right img {
    width: 40px;
    align-items: center;
    margin: 0 10px;
}

.navbar-center img {
    width: 40px;
    margin-right: 10px;
}

.navbar-center span {
    color: #154726;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #154726c2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

span, a {
    user-select: none;
}

.autocomplete-input {
    padding: 5px 10px;
    border: 1px solid #c3beb5;
    border-bottom: unset;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: transparent;
}

.autocomplete-input:focus-visible {
    outline-offset: unset;
    outline: unset;
}

#autocomplete-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

#autocomplete-results {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #FAF3E6;
    position: absolute;
    width: 99%;
    z-index: 1000;
    top: 65%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0 0 0.8rem 0.8rem;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

#autocomplete-results li {
    padding: 0.6rem;
    cursor: pointer;
}

#autocomplete-results li:hover {
    background-color: #eee;
    border-radius: 0.8rem;
}

#autocomplete-results div {
    position: absolute;
    border-bottom: 1px solid #ccc;
    left: 10%;
    right: 10%;
}


.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

.profile h3 {
    text-align: end;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 600;
}

.profile p {
    line-height: 1;
    font-size: 14px;
    opacity: .6;
}



/* menu (the right one) */

.menu {
    position: absolute;
    top: calc(100% + 24px);
    right: 7px;
    width: 200px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
    z-index: 1001;
}

.menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 10;
    background: #fff;
}

.menu ul li {
    list-style: none;
}

.menu ul li:hover {
    background: #eee;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
}

.menu ul li a i {
    font-size: 1.2em;
}