<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TuttiFrutti">
    <meta name="keywords" content="fruits, légumes, musique">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://kit.fontawesome.com/277443cd3e.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}


</head>
<body>
<header>
    <nav id="navbar" class="navbar">
        <div class="navbar-left">
            <a href="/explorer" class="link-main">
                <div class="hover-underline-animation">
                    Explorer
                </div>
            </a>
            <a href="/" class="link-main">
                <div class="hover-underline-animation">
                    Mes favoris
                </div>
            </a>
        </div>
        <div class="navbar-center">
            <span>Tutti</span>
            <a href="/"><img src="{{ asset('img/logo.png') }}" alt="TutiFruiti Logo"></a>
            <span>Frutti</span>
        </div>
        <div class="navbar-right">
            <div id="autocomplete-wrapper">
                <input type="text" class="navbar-search-input" id="search-input" placeholder="Search..."
                       autocomplete="off">
                <button id="autocomplete-search-button">Go</button>
                <ul id="autocomplete-results" style="display:none;"></ul>
                <script src="{{ asset('js/autocomplete.js') }}"></script>
            </div>
            <div class="profile">
                <div class="img-box">
                    <img src="{{ asset('img/account.png') }}" alt="">
                </div>
                <div class="menu">
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="/logout"><i class="fa-solid fa-sign-out"></i>&nbsp;Déconnexion</a></li>
                        {% else %}
                            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Connexion</a></li>
                            <li><a href="/register"><i class="fa-solid fa-envelope-simple"></i>&nbsp;Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
    <script>
        let profile = document.querySelector('.profile');
        let menu = document.querySelector('.menu');

        profile.onclick = function () {
            menu.classList.toggle('active');
        }
    </script>
</body>
</html>
